body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
    margin: 0;
}

.stopwatch-container {
    text-align: center;
    background-color:rgb(93, 171, 127);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #567ea1;
}

.laps {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.laps li {
    padding: 5px;
    background-color: #ecf0f1;
    margin: 5px 0;
    border-radius: 5px;
}